.listWrapper {
  overflow: scroll;
  flex: 9;
  height: 90vh;
}

.listWrapperExpanded {
  height: 100vh;
  overflow: scroll;
  flex: 1;
  display: flex;
}

ul {
  margin: 0;
  padding:0;
}

.ul {
  list-style-type: none;
}
