.listWrapper {
  height: 100vh;
  overflow: scroll;
  width: 100%;
  flex: 9
}

.listWrapperExpanded {
  height: 100vh;
  overflow: scroll;
  width: 100%;
  flex: 1;
  display: flex;
}

ul {
  margin: 0;
  padding:0;
}

.ul {
  list-style-type: none;
}
