
 a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
      display: flex;
 }

.li {
  height: 100px;
  padding: 10px;  
  margin: 10px;
  border-bottom: 1px rgba(50,50,50,1);
  background-color: rgb(200,200,200);
  border-radius: 4px;
  overflow: hidden;
}

.img {
  height: 80px;
  width: 80px;
  border-radius: 4px;
}

.imgPlaceholder {
  /* flex: 1; */
  width: 80px;
  height: 80px;
  border-radius: 4px;
  background-color: rgb(50,50,50);
}

.text {
  flex: 4;
  text-align: left;
  margin-left: 10px;
} 

.title {
  font-size: 14px;
}

.description {
  margin: 10px 0;
  font-size: 12px;

}

.pubDate {
  font-size: 10px;
}
